* {
  margin: 0;
  padding: 0;
}

.cardItem {
  display: flex;
  margin: 1rem 1.5rem 2rem 1.5rem;
  border: 2px solid var(--dark-green);
}

.cartImg {
  width: 8rem;
  height: 10rem;
  object-fit: cover;
  margin: 1rem;
}

.itemInfo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 11.5rem;
  margin-top: 1rem;
  /* border: 1px solid red; */
}

.cartTitle {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  color: var(--dark-green);
}

.addremoveBtns {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: 0.5rem;
  margin-top: 4rem;
}
.addremoveBtn {
  border: none;
  background: none;
}

.addremoveImg {
  width: 2rem;
}
.trash {
  margin-left: 3rem;
}
.quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
}

.totalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
