* {
  margin: 0;
  padding: 0;
}

.productCardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 6rem;
  padding-bottom: 5rem;
  /* border: 3px solid red; */
}

.productDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 11rem;
  /* border: 2px solid black; */
}

.productImg {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 12rem;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.productDescript {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 0.2rem; */
}

.price {
  color: var(--gold);
}

.loadBtn {
  margin: 1rem;
  border: none;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  padding: 1rem;
}

.loadBtn:active {
  background-color: var(--gold);
  color: black;
}
